.hide-menu {
  transform: translateX(-100%);
  display: none;
}

.show-menu {
  transform: translateX(0);
  display: block;
}

@media only screen and (max-width: 768px) {
  .show-menu {
    position: fixed;
    z-index: 50;
  }
}
