.custom-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  row-gap: 1rem;
  column-gap: 1rem;
  align-items: center;
}

input {
  padding: 0.5rem;
}

.custom-col-span {
  grid-column: 1 / span 2;
}

@media only screen and (max-width: 768px) {
  .custom-grid {
    grid-template-columns: repeat(1, auto);
  }
}
